<h1>プロフィール編集</h1>

<%= form_with model: @user, url: profile_path, method: :patch do |f| %>
  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :bio, "自己紹介" %>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.label :location, "所在地" %>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.label :avatar, "アバター画像URL" %>
    <%= f.text_field :avatar %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>