<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <p>価格: ¥<%= post.price %></p>
    <% if post.image.attached? %>
      <%= image_tag post.image %>
    <% end %>
    <p>投稿者: <%= post.user.name %></p>  <!-- もしuserがnameカラムを持っているなら -->
  </div>
<% end %>