<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <p>価格: ¥<%= post.price %></p>
    <% if post.image && post.image.attached? %>
      <%= image_tag post.image %>
    <% else %>
      <p>画像はまだアップロードされていません。</p>
    <% end %>
    <% if post.user %>  <!-- ユーザーが存在するか確認 -->
      <p>投稿者: <%= post.user.name %></p>
    <% else %>
      <p>投稿者情報がありません。</p>
    <% end %>
<% end %>
