<h1 class="text-2xl font-bold mb-4"><%= @post.title %></h1>

<div class="mb-4">
  <strong>説明:</strong>
  <p><%= @post.description %></p>
</div>

<div class="p-4 mb-4 rounded-lg bg-green-300 text-white">
  これは赤ですか？
</div>
<div class="mb-4">
  <strong>価格:</strong>
  <p><%= number_to_currency(@post.price, unit: "¥") %></p>
</div>

<% if @post.image.attached? %>
  <div class="mb-4">
    <strong>画像:</strong><br>
    <%= image_tag @post.image, class: "max-w-sm rounded-lg shadow" %>
  </div>
<% end %>

<% if current_user != @post.user %>
  <% existing_request = ChatRequest.find_by(post_id: @post.id, requester_id: current_user.id, receiver_id: @post.user.id) %>

  <% if existing_request&.status == 'pending' %>
    <div class="text-yellow-500">申請中です</div>
  <% else %>
    <%= button_to 'チャット申請', chat_requests_path(chat_request: { post_id: @post.id, receiver_id: @post.user.id }), method: :post %>
  <% end %>
<% else %>
  <!-- 投稿主の場合 -->
  <% @post.chat_requests.pending.each do |chat_request| %>
    <%= button_to '承認', approve_chat_request_path(chat_request), method: :post %>
    <%= button_to '拒否', reject_chat_request_path(chat_request), method: :post %>
  <% end %>
<% end %>


<div class="mt-6 flex space-x-4">
  <%= link_to '編集', edit_post_path(@post), class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  <%= link_to '削除', post_path(@post), method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" %></div>