<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trade Wasted Food</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <!-- Tailwind CSS を読み込む -->
 <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application" %> 
</head>
<body class="bg-gray-100">
  <div class="bg-yellow-300 p-4">
  Tailwind 反映テスト
</div>
<div class="text-red-500 text-xl font-bold">
  Tailwindテスト：赤字になるはず！
</div>
<header class="bg-blue-500 text-white p-4 flex justify-between items-center w-full">
  <%= link_to root_path do %>
    <%= image_tag "logo.svg", alt: "ロゴ", class: "h-12" %>
  <% end %>

  <div class="flex space-x-4"> 
    <% if current_user %>
      <%= link_to '新規投稿',new_post_path %>
      <%= link_to '投稿一覧', posts_path %>
      <%= link_to 'プロフィール編集', edit_profile_path, class: "bg-blue-500 text-white py-2 px-4 rounded-full" %>
      <%= button_to 'Logout', '/auth/logout', method: :get, class: "bg-white text-blue-500 font-semibold py-2 px-6 rounded-full shadow-md border border-gray-300 hover:bg-gray-100 transition" %>
    <% else %>
      <%= button_to 'Login', '/auth/auth0', method: :post, authenticity_token: true, class: "bg-white text-blue-500 font-semibold py-2 px-6 rounded-full shadow-md border border-gray-300 hover:bg-gray-100 transition" %>
    <% end %>
  </div>
</header>

  <main class="container mx-auto p-4">
    <%= yield %> <!-- ここに個別のビューがレンダリングされます -->
  </main>

  <footer class="bg-gray-800 text-white text-center p-4 mt-4">
    <p>&copy; 2025 Trade Wasted Food</p>
  </footer>
</body>
</html>
